@model GameVM

@inject IViewLocalizer _localizer

@{ 
    ViewData["Title"] = _localizer["New Game"];
}

<div class="row">
    <div class="text-center">
        <p>
            <h4>@_localizer["New Game"]</h4>
        </p>
    </div>

    @if (TempData["Error"] is string error)
    {
        <div class="col-md-12 alert alert-danger">
            <span>@error</span>
        </div>
    }

    <div class="row">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class=" mb-1">
                    <label for="winner" class="col-md-2 col-form-label "><span style="font-size: 20px;">@_localizer["Winner"]</span></label>
                    <select name="WinnerId" id="winner" class=" form-select form-select-lg col-md-6 col-lg-4" aria-label=".form-select-lg example">
                        <option value="@Guid.Empty" selected>@_localizer["Choose a player"]</option>
                        @foreach (var player in Model.Players)
                        {
                            <option value="@player.Id">@player.UserName</option>
                        }
                    </select>
                    <span asp-validation-for="WinnerId" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="WinnerScore" class="col-form-label"><span style="font-size: 20px;">@_localizer["Winner's score"]</span></label>
                    <input value="0" id="WinnerScore" name="WinnerScore" class="form-control form-control-lg col-md-6 col-lg-4"/>
                    <span asp-validation-for="WinnerScore" class="text-danger"></span>
                </div>
                <div class=" mb-1">
                    <label for="loser" class="col-form-label"><span style="font-size: 20px;">@_localizer["Loser"]</span></label>
                    <select name="LoserId" id="loser" class="form-select form-select-lg col-md-6 col-lg-4" aria-label=".form-select-lg example">
                        <option value="@Guid.Empty" selected>@_localizer["Choose a player"]</option>
                        @foreach (var player in Model.Players)
                        {
                            <option value="@player.Id">@player.UserName</option>
                        }
                    </select>
                    <span asp-validation-for="LoserId" class="text-danger"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="LoserScore" class="col-form-label"><span style="font-size: 20px;">@_localizer["Loser's score"]</span></label>
                    <input value="0" id="LoserScore" name="LoserScore" class="form-control form-control-lg col-md-6 col-lg-4"/>
                    <span asp-validation-for="LoserScore" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-outline-success float-right" type="submit" value="@_localizer["Add"]" />
                    <a class="btn btn-outline-secondary float-lg-end" asp-controller="Home" asp-action="Index">@_localizer["Cancel"]</a>
                </div>
            </form>
        </div>
    </div>
</div>

