@model UserDetailsVM

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = @Model.UserName;
}

<div class="row text-center">
    <h3>
        @Model.UserName
    </h3>
</div>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>@_localizer["FullName"]</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>@_localizer["Email"]</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>@_localizer["Roles"]</th>
        <td>@string.Join(", ", @Model.Roles)</td>
    </tr>
    <tr>
        <th>@_localizer["Rating"]</th>
        <td>@Model.Rating</td>
    </tr>
    <tr>
        <th>@_localizer["Total number of games"]</th>
        <td>@Model.TotalNumberOfGames - <a class="btn btn-outline-success" asp-controller="Game" asp-action="Index" asp-route-userId="@Model.Id">@_localizer["View"]</a></td>
    </tr>
    
</table>