@model IEnumerable<UsersVM>

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = @_localizer["User Management"];
}

<div class="row text-center">
    <h3>
        @_localizer["User Management"]
    </h3>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th>@_localizer["FullName"]</th>
            <th>@_localizer["Email"]</th>
            <th>@_localizer["Roles"]</th>
            <th>@_localizer["Rating"]</th>
            <th>@_localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
            <tr id="@user.Id">
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", @user.Roles)</td>
                <td>@user.Rating</td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@user.Id">@_localizer["Details"]</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@user.Id">@_localizer["Edit"]</a>
                    <button class="btn btn-danger" onclick="deleteUser('@user.Id')">@_localizer["Delete"]</button>
                </td>
            </tr> 
        }
    </tbody>
</table>


@section Scripts {
    <script>
        async function deleteUser(id) {
            let responce = await fetch(`/Users/Delete/${id}`, {
                method: 'DELETE'
            });
            if (responce.ok) {
                const row = document.getElementById(id);
                const tableBody = row.parentNode;                
                tableBody.removeChild(row);
            }
        }
    </script>
}
